<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtb.home.dao.AddressMapper">
  <resultMap id="BaseResultMap" type="com.dtb.entity.Address">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="detial" jdbcType="VARCHAR" property="detial" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, user_name, phone, province, city, area, detial, create_time, update_time, 
    delete_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from as_address
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAddressListByUserId" resultType="com.dtb.entity.Address">
    SELECT
    <include refid="Base_Column_List"/>
    FROM as_address
    WHERE user_id = #{userId,jdbcType=INTEGER}
    AND delete_time IS NULL
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from as_address
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.dtb.entity.Address">
    insert into as_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="param.id != null">
        id,
      </if>
      <if test="param.userId != null">
        user_id,
      </if>
      <if test="param.userName != null">
        user_name,
      </if>
      <if test="param.phone != null">
        phone,
      </if>
      <if test="param.province != null">
        province,
      </if>
      <if test="param.city != null">
        city,
      </if>
      <if test="param.area != null">
        area,
      </if>
      <if test="param.detial != null">
        detial,
      </if>
        create_time,
      <if test="param.updateTime != null">
        update_time,
      </if>
      <if test="param.deleteTime != null">
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="param.id != null">
        #{param.id,jdbcType=INTEGER},
      </if>
      <if test="param.userId != null">
        #{param.userId,jdbcType=INTEGER},
      </if>
      <if test="param.userName != null">
        #{param.userName,jdbcType=VARCHAR},
      </if>
      <if test="param.phone != null">
        #{param.phone,jdbcType=VARCHAR},
      </if>
      <if test="param.province != null">
        #{param.province,jdbcType=VARCHAR},
      </if>
      <if test="param.city != null">
        #{param.city,jdbcType=VARCHAR},
      </if>
      <if test="param.area != null">
        #{param.area,jdbcType=VARCHAR},
      </if>
      <if test="param.detial != null">
        #{param.detial,jdbcType=VARCHAR},
      </if>
      CURRENT_TIMESTAMP,
      <if test="param.updateTime != null">
        #{param.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="param.deleteTime != null">
        #{param.deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateById" parameterType="com.dtb.entity.Address">
    update as_address
    <set>
      <if test="param.userId != null">
        user_id = #{param.userId,jdbcType=INTEGER},
      </if>
      <if test="param.userName != null">
        user_name = #{param.userName,jdbcType=VARCHAR},
      </if>
      <if test="param.phone != null">
        phone = #{param.phone,jdbcType=VARCHAR},
      </if>
      <if test="param.province != null">
        province = #{param.province,jdbcType=VARCHAR},
      </if>
      <if test="param.city != null">
        city = #{param.city,jdbcType=VARCHAR},
      </if>
      <if test="param.area != null">
        area = #{param.area,jdbcType=VARCHAR},
      </if>
      <if test="param.detial != null">
        detial = #{param.detial,jdbcType=VARCHAR},
      </if>
      update_time = CURRENT_TIMESTAMP,
      <if test="param.deleteTime != null">
        delete_time = #{param.deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{param.id,jdbcType=INTEGER}
  </update>
</mapper>