<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtb.home.dao.CarouselMapper">
  <resultMap id="BaseResultMap" type="com.dtb.entity.Carousel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title"/>
    <result column="photo_url" jdbcType="VARCHAR" property="photoUrl" />
    <result column="detail_url" jdbcType="VARCHAR" property="detailUrl" />
    <result column="use_state" jdbcType="TINYINT" property="useState" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, photo_url, detail_url, use_state, create_time, update_time, delete_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from as_carousel
    where id = #{id,jdbcType=INTEGER}
  </select>
</mapper>