<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtb.home.dao.DocumentsMapper">
  <resultMap id="BaseResultMap" type="com.dtb.entity.Documents">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="integral" jdbcType="INTEGER" property="integral" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="document_type" jdbcType="TINYINT" property="documentType" />
    <result column="grade_id" jdbcType="INTEGER" property="gradeId" />
    <result column="subject_id" jdbcType="INTEGER" property="subjectId" />
    <result column="check_state" jdbcType="TINYINT" property="checkState" />
    <result column="download_count" jdbcType="INTEGER" property="downloadCount" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="score" jdbcType="FLOAT" property="score" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
  </resultMap>
  <resultMap id="AssociationMap" extends="BaseResultMap" type="com.dtb.entity.DocumentsAssociation">
    <association property="user" column="user_id" select="com.dtb.home.dao.UserMapper.selectByPrimaryKey"/>
    <association property="admin" column="admin_id" select="com.dtb.home.dao.AdminMapper.selectByPrimaryKey"/>
    <association property="grade" column="grade_id" select="com.dtb.home.dao.GradeMapper.selectByPrimaryKey"/>
    <association property="subject" column="subject_id" select="com.dtb.home.dao.SubjectMapper.selectByPrimaryKey"/>
    <collection property="comments" column="id" select="com.dtb.home.dao.DocumentCommentsMapper.selectListByDocumentId"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, admin_id, integral, title, summary, document_type, grade_id, subject_id, check_state, download_count,
    file_path, reason, score, create_time, update_time, delete_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from as_documents
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectDocumentListToLimit" resultMap="AssociationMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM as_documents
    <where>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER}
      </if>
      <if test="userId != null">
        AND user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="adminId != null">
        AND admin_id = #{adminId,jdbcType=INTEGER}
      </if>
      <if test="integral != null">
        AND IF(#{integral}>0,integral > 0,integral &lt;= 0)
      </if>
      <if test="title != null">
        AND title LIKE CONCAT('%',#{title,jdbcType=VARCHAR},'%')
      </if>
      <if test="summary != null">
        AND summary LIKE CONCAT('%',#{summary,jdbcType=VARCHAR},'%')
      </if>
      <if test="documentType != null">
        AND document_type = #{documentType,jdbcType=TINYINT}
      </if>
      <if test="gradeId != null">
        AND grade_id = #{gradeId,jdbcType=INTEGER}
      </if>
      <if test="subjectId != null">
        AND subject_id = #{subjectId,jdbcType=INTEGER}
      </if>
      <if test="checkState != null">
        AND check_state = #{checkState,jdbcType=TINYINT}
      </if>
      <if test="downloadCount != null">
        AND download_count = #{downloadCount,jdbcType=INTEGER}
      </if>
      <if test="reason != null">
        AND reason LIKE CONCAT('%',#{reason,jdbcType=VARCHAR},'%')
      </if>
      <if test="score != null">
        AND score = #{score,jdbcType=FLOAT}
      </if>
      AND delete_time IS NULL
    </where>
    ORDER BY score DESC,download_count DESC, create_time DESC
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from as_documents
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.dtb.entity.Documents">
    insert into as_documents
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="documentType != null">
        document_type,
      </if>
      <if test="gradeId != null">
        grade_id,
      </if>
      <if test="subjectId != null">
        subject_id,
      </if>
      <if test="checkState != null">
        check_state,
      </if>
      <if test="downloadCount != null">
        download_count,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="score != null">
        score,
      </if>
        create_time,
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="documentType != null">
        #{documentType,jdbcType=TINYINT},
      </if>
      <if test="gradeId != null">
        #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null">
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="checkState != null">
        #{checkState,jdbcType=TINYINT},
      </if>
      <if test="downloadCount != null">
        #{downloadCount,jdbcType=INTEGER},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=FLOAT},
      </if>
      CURRENT_TIMESTAMP,
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dtb.entity.Documents">
    update as_documents
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="documentType != null">
        document_type = #{documentType,jdbcType=TINYINT},
      </if>
      <if test="gradeId != null">
        grade_id = #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null">
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="checkState != null">
        check_state = #{checkState,jdbcType=TINYINT},
      </if>
      <if test="downloadCount != null">
        download_count = #{downloadCount,jdbcType=INTEGER},
      </if>
      <if test="filePath != null">
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=FLOAT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
        update_time = CURRENT_TIMESTAMP,
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="changeDocumentScoreById">
      UPDATE as_documents
      SET score = IF(score IS NULL,#{score},(#{score}+score)/2)
      WHERE id =#{id}
    </update>
</mapper>