<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtb.home.dao.ExchangeMapper">
    <resultMap id="BaseResultMap" type="com.dtb.entity.Exchange">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="gift_id" jdbcType="INTEGER" property="giftId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_phone" jdbcType="VARCHAR" property="userPhone"/>
        <result column="address_province" jdbcType="VARCHAR" property="addressProvince"/>
        <result column="address_city" jdbcType="VARCHAR" property="addressCity"/>
        <result column="address_district" jdbcType="VARCHAR" property="addressDistrict"/>
        <result column="address_detial" jdbcType="VARCHAR" property="addressDetial"/>
        <result column="track_number" jdbcType="VARCHAR" property="trackNumber"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
    </resultMap>
    <resultMap id="AssociationMap" type="com.dtb.entity.ExchangeAssociation" extends="BaseResultMap">
        <association property="user" column="user_id" select="com.dtb.home.dao.UserMapper.selectByPrimaryKey"/>
        <association property="gift" column="gift_id" select="com.dtb.home.dao.GiftMapper.selectByPrimaryKey"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, gift_id, user_name, user_phone, address_province, address_city, address_district,
        address_detial, track_number, create_time, update_time, delete_time
     </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from as_exchange
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectListByUserId" resultMap="AssociationMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM as_exchange
        WHERE user_id = #{userId}
        AND delete_time IS NULL
    </select>

    <insert id="insertSelective" parameterType="com.dtb.entity.Exchange">
        insert into as_exchange
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="giftId != null">
                gift_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userPhone != null">
                user_phone,
            </if>
            <if test="addressProvince != null">
                address_province,
            </if>
            <if test="addressCity != null">
                address_city,
            </if>
            <if test="addressDistrict != null">
                address_district,
            </if>
            <if test="addressDetial != null">
                address_detial,
            </if>
            <if test="trackNumber != null">
                track_number,
            </if>
            create_time,
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="giftId != null">
                #{giftId,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="addressProvince != null">
                #{addressProvince,jdbcType=VARCHAR},
            </if>
            <if test="addressCity != null">
                #{addressCity,jdbcType=VARCHAR},
            </if>
            <if test="addressDistrict != null">
                #{addressDistrict,jdbcType=VARCHAR},
            </if>
            <if test="addressDetial != null">
                #{addressDetial,jdbcType=VARCHAR},
            </if>
            <if test="trackNumber != null">
                #{trackNumber,jdbcType=VARCHAR},
            </if>
            CURRENT_TIMESTAMP,
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.dtb.entity.Exchange">
        update as_exchange
        <set>
            <if test="param.userId != null">
                user_id = #{param.userId,jdbcType=INTEGER},
            </if>
            <if test="param.giftId != null">
                gift_id = #{param.giftId,jdbcType=INTEGER},
            </if>
            <if test="param.userName != null">
                user_name = #{param.userName,jdbcType=VARCHAR},
            </if>
            <if test="param.userPhone != null">
                user_phone = #{param.userPhone,jdbcType=VARCHAR},
            </if>
            <if test="param.addressProvince != null">
                address_province = #{param.addressProvince,jdbcType=VARCHAR},
            </if>
            <if test="param.addressCity != null">
                address_city = #{param.addressCity,jdbcType=VARCHAR},
            </if>
            <if test="param.addressDistrict != null">
                address_district = #{param.addressDistrict,jdbcType=VARCHAR},
            </if>
            <if test="param.addressDetial != null">
                address_detial = #{param.addressDetial,jdbcType=VARCHAR},
            </if>
            <if test="param.trackNumber != null">
                track_number = #{param.trackNumber,jdbcType=VARCHAR},
            </if>
            update_time = CURRENT_TIMESTAMP,
            <if test="param.deleteTime != null">
                delete_time = #{param.deleteTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{param.id,jdbcType=INTEGER}
    </update>
</mapper>