<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 底部导航栏 start-->
<footer th:fragment="footer" class="container-fluid" style="margin-top:15px;">
    <div class="row text-center" style="background-color:#424242;color:#E0E0E0;padding:30px;">
        <span class="layui-breadcrumb" lay-separator="|">
          <a href="/home/index/index">首页</a>
          <a href="/home/index/user/list">知名教师</a>
          <a href="/home/index/question">有问有答</a>
          <a href="">资料专区</a>
          <a href="">积分兑换</a>
          <a href="">意见反馈</a>
          <a href="/home/index/about">联系我们</a>
        </span>
    </div>
    <script src="/static/home/plugs/layui/layui.js"></script>
    <script src="/static/home/js/public.js"></script>
</footer>
<!-- 底部导航栏end -->