<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="home/public/head::head(~{::title},~{::style},~{})">
    <title>编辑轮播图-答题吧</title>
    <style>
        .img-rounded {
            max-height: 150px;
            max-width: 180px;
        }
    </style>
</head>

<body>
<div class="container" style="margin-bottom: 5%;">
    <div class="row">
        <div class="col-md-12" style="margin-top: 30px;">
            <form class="layui-form layui-form-pane" id="form" enctype="multipart/form-data" action="">
                <input type="hidden" name="id" th:value="${info.id}">
                <div class="layui-form-item">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" th:value="${info.title}" required lay-verify="required"
                               placeholder="请输入标题" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">详情地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="detailUrl" th:value="${info.detailUrl}" placeholder="请输入详情页面地址"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">启用状态</label>
                    <div class="layui-input-block">
                        <input type="radio" lay-verify="required" name="useState" th:checked="${info.useState}"
                               value="true" title="启用">
                        <input type="radio" lay-verify="required" name="useState" th:checked="!${info.useState}"
                               value="false" title="停用">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">图片</label>
                    <div class="layui-input-inline">
                        <img th:src="${info.photoUrl}" class='img-rounded'>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formRegister">立即提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:inline="javascript">

    layui.use(['form'], function () {
        var form = layui.form;

        //监听提交
        form.on('submit(formRegister)', function (data) {
            console.log(data.field);
            var formData = new FormData($("#form")[0]);
            //提交表单，登录验证
            $.ajax({
                url: "/admin/carousel/edit",
                type: "post",
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.success == true) {
                        layer.msg(res.errMsg, {icon: 1, time: 1500});
                        setTimeout(refreshParent, 1500);
                    } else {
                        layer.msg(res.errMsg, {icon: 2, time: 1500});
                    }

                    console.log(res);
                },
                error: function (res) {
                    layer.msg(res, {icon: 2, time: 1500});
                },
                complete: function () {
                }
            });
            return false;
        });
    });

    /*清除回显图片*/
    function clearImg() {
        $("#imgBox").empty();
    }
</script>
</body>
</html>
