<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="home/public/head::head(~{::title},~{::style},~{})">
    <title>兑换专区-答题吧</title>
    <style>
        .head-img-box {
            height: 146px;
        }

        .head-img {
            max-height: 100%;
            width: 100%;
        }

        .text-overflow {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
            width: 100%;
            margin-top: 15px;
            margin-bottom: 15px;
            height: 92px;
        }

        .layui-card-body {
            height: 332px;
        }
    </style>
</head>

<body>

<!--顶部导航栏导入-->
<div th:replace="home/public/top-menu::top-menu"></div>

<div class="layui-container" id="container" v-cloak>
    <div class="layui-row">
        <div class="layui-col-md12">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>兑换专区</legend>
            </fieldset>

            <div style="padding: 20px; background-color: #F2F2F2;">
                <div class="layui-row layui-col-space15">
                    <!--单个用户信息框开始-->
                    <div class="layui-col-md3" v-for="item in giftList">
                        <div class="layui-card layui-anim layui-anim-scale">
                            <div class="layui-card-header">{{item.giftName}}</div>
                            <div class="layui-card-body">
                                <div class="head-img-box">
                                    <img class="head-img" :src="item.photos" alt="...">
                                </div>
                                <div class="caption">
                                    <p class="text-overflow">{{item.summary}}</p>
                                    <p class="text-right">
                                        <span class="layui-badge layui-bg-orange">{{'剩余：'+item.quantity}}</span>
                                        <span class="layui-badge">{{'积分：'+item.integral}}</span>
                                        <span v-if="item.quantity>0">
                                            <a v-if="user!=null&&user.integral<item.integral"
                                               class="layui-btn layui-btn-disabled layui-btn-sm" role="button">积分不足</a>
                                            <a v-if="user==null" class="layui-btn layui-btn-sm"
                                               href="/home/index/login?pagePath=/home/index/gift/list" role="button">登录兑换</a>
                                            <a v-if="user!=null&&user.integral>=item.integral"
                                               :href="'/home/gift/detial/'+item.id"
                                               class="layui-btn layui-btn-normal layui-btn-sm" role="button">去兑换</a>
                                        </span>
                                        <span v-else class="layui-btn layui-btn-disabled layui-btn-sm"
                                              role="button">已兑完</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--单个用户信息框结束-->
                </div>
                <div class="layui-row text-center">
                    <div id="laypage"></div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- 底部导航栏 start-->
<footer th:replace="home/public/footer::footer"></footer>
<!-- 底部导航栏end -->

<script th:src="@{/static/common/plugs/vue/vue.js}"></script>
<script th:inline="javascript">

    /*初始化layui的分页插件*/
    function initLayui() {
        layui.use('laypage', function () {
            var laypage = layui.laypage;
            //执行一个laypage实例
            laypage.render({
                elem: 'laypage' //注意，这里的 test1 是 ID，不用加 # 号
                , count: totalCount //数据总数，从服务端得到
                , limit: pageSize //每页显示的条数。laypage将会借助 count 和 limit 计算出分页数。
                , limits: [8, 16, 24, 32, 40] //每页条数的选择项。如果 layout 参数开启了 limit，则会出现每页条数的select选择框
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                , jump: function (obj, first) {
                    //obj包含了当前分页的所有参数，比如：
                    pageSize = obj.limit;
                    pageIndex = obj.curr;
                    //首次不执行
                    if (!first) {
                        pagination(obj.curr, obj.limit);
                    }
                }
            });
        });
    }

    var that = this;
    var userListApp = new Vue({
        el: "#container",
        data: {
            giftList: "",//教师列表
            user: [[${session.user}]],
            initLayui: false//是否可以渲染layui，请求到数据后才可以
        },
        watch: {//监听data中的数据变化
            'initLayui': function (newVal) {
                if (newVal)
                    that.initLayui();
            }
        }
    });

    var pageIndex = 1;
    var pageSize = 8;
    var totalCount = 10;

    /*异步请求用户数据*/
    function pagination(pageIndex, pageSize) {

        var requestPath = "/home/gift/queryGiftList/" + pageIndex + "/" + pageSize;
        $.get(requestPath, function (res) {
            totalCount = res.data.pageInfo.total;
            console.log("总数：", totalCount);
            userListApp.$data.giftList = res.data.giftList;
            userListApp.$data.initLayui = true;
        });
    }

    /*获取用户列表*/
    pagination(pageIndex, pageSize);
</script>

</body>
</html>
